*{
    font-family: 'Montserrat', sans-serif;
}

svg{
    color: #fff;
    padding: 25px 10px;
    transition: .3s;
    font-size: 15px;
}

body{
    color: white;
}

p{
    font-size: 0.85em;
    font-weight: 600;
    word-spacing: 5px;
}

h1{
    color: white;
    font-style: italic !important;
    font-size: 1.8em;
    font-weight: 900;
}

.col{
    padding-bottom: 15px;
}